body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	height: 100%;
	overflow: hidden;
}

#graphContainer {
	width: 100%;
	height: 550px;
	margin: 0 auto;
}