body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
	width: 910px;
	margin: 0 auto;
	text-align: center;
	height: 100%;
	overflow: hidden;
}

#formContainer {
	margin-top: 0px;
	padding-top: 0px;
	width: 250px;
	min-height: 200px;
	float: left;
	margin-right: 10px;
}

#graphContainer {
	float: left;
	width: 650px;
	height: 500px;
}