extends layout

block content
  script
    var values = [#{values}];
    var dates = [#{dates}];
    var modelName = "#{modelName}";
  script(src="/js/highchartTheme.js")
  script(src="/js/chart.js")
  #container
    p #{modelName}
    #graphContainer
    

