extends layout

block content
  script
    var seriesArr = [];
    var data = !{JSON.stringify(data)};
    for(x in data){
      seriesArr.push({
        name:x,
        data:data[x]
        });
    }
    var modelName = "#{modelName}";
    var data = [];
    for (var i=0; i < values.length; i++){
      data[i] = {x:dates[i], y:values[i],mongoId:ids[i],articleTitle:titles[i]};
    }
  script(src="/js/highchartTheme.js")
  script(src="/js/chart.js")
  #container
    #graphContainer
    #overlay
      #overlayModal
        #overlayText
