extends layout

block content
  script
    var data = !{JSON.stringify(data)};
    console.log(data);
    console.log(titles);
    var modelName = "#{modelName}";
    console.log(modelName);
    var data = [];
    for (var i=0; i < values.length; i++){
      data[i] = {x:dates[i], y:values[i],mongoId:ids[i],articleTitle:titles[i]};
    }
  script(src="/js/highchartTheme.js")
  script(src="/js/chart.js")
  #container
    #graphContainer
    #overlay
      #overlayModal
        #overlayText
