doctype 5
html
  head
    title= title
    script(src='/js/jquery-1.10.2.min.js')
    script(src="/js/highcharts.js")
    script(src="/js/exporting.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content